body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Media queries for responsive design */
@media (max-width: 576px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}
